<div class="commoncontact">
  <div class="content_wrapper_min">
    <p class="commoncontact__text">お気軽にお問い合わせ下さい。</p>

    <div class="flex jc-cen ai-cen">
      <div class="commoncontact__tel">
        <p class="commoncontact__tel-number">
          <img src="<%= path(); %>assets/images/common/icon_tel.png" alt="TEL icon"><span
            class="tel_link">03-1234-5678</span>
        </p>
        <p class="commoncontact__tel-time">受付時間：平日 10:00～17:00</p>
      </div>

      <div class="commoncontact__mail">
        <div class="btn-02"><a href="<%= path(); %>contact/"><img src="<%= path(); %>assets/images/common/icon_mail.svg" alt="MAIL icon">お問い合わせはこちら</a></div>
      </div>
    </div>
  </div>
</div>