<section class="common__about">
  <div class="content_wrapper_min">
    <h2 class="title-01 mb20">
      堂宮鈴木工務店について
    </h2>
    <p class="ta-cen mb80">「株式会社 堂宮鈴木工務店」の事業案内、作業工程等をご紹介致します。</p>

    <div class="flex jc-bet col-2">
      <div class="item box">
        <p class="pagename">事業案内</p>
        <div class="pict"><img src="<%= path(); %>assets/images/top/about_img01.jpg" alt="堂宮鈴木工務店について 画像1">
        </div>
        <div class="btn-01">
          <a href="<%= path(); %>about/">詳しく見る</a>
        </div>
      </div>

      <div class="item box">
        <p class="pagename">作業工程</p>
        <div class="pict"><img src="<%= path(); %>assets/images/top/about_img02.jpg" alt="堂宮鈴木工務店について 画像2">
        </div>
        <div class="btn-01">
          <a href="<%= path(); %>about/">詳しく見る</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / END about -->