<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title><%= jsonData.pageDate[pageDateIndex].title %></title>
<meta name="keywords" content="<%= jsonData.pageDate[pageDateIndex].keywords %>">
<meta name="description" content="<%= jsonData.pageDate[pageDateIndex].description %>">

<link rel="apple-touch-icon" sizes="180x180" href="<%= path(); %>assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="<%= path(); %>assets/images/favicons/icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="<%= path(); %>assets/images/favicons/icon-16x16.png" sizes="16x16">

<%_if (pageDateIndex === 0) { _%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%_ } _%>

<link href="<%= path(); %>assets/css/lib/animate.css" rel="stylesheet" type="text/css" media="all">
<link href="<%= path(); %>assets/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="<%= jsonData.pageDate[pageDateIndex].pageID %>">
