<section class="lowerkv">
  <div class="content_wrapper">
  <%_if (pageDateIndex === 8) { _%>
    <h2>お知らせ</h2>
    <%_ } else {_%>
    <h2><%= jsonData.pageDate[pageDateIndex].name %></h2>
    <%_ } _%>
  </div>
</section>