/* Top -----------------*/
.top {
  @include media(480px) {
    overflow-x: hidden;
  }

  .main {
    overflow-x: hidden;
  }

  /* keyvisual */
  &-keyvisual {
    overflow: hidden;
    position: relative;

    &__copy {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &-text {
        display: inline-block;
        @include fzrem(60);
        color: $cl-wht;
      }

      p {
        color: $cl-wht;
        @include fzrem(20);
      }

      @include mq-down(md) {
        &-text {
          @include fvw(20);
        }
      }
    }

    &__slider {
      margin: 0;
      padding: 0;
      line-height: 0;

      &-item {
        height: 100%;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
    }
  }

  &-example {
    margin-bottom: 10rem;

    & > div {
      padding: 10rem 0;
    }

    .layout01 {
      background-color: $cl-blu;
    }

    .layout02 {
      background-color: $cl-blu;
    }
  }

  /* about */
  &-about {
    position: relative;
    margin-bottom: 10rem;

    &__item {
      width: get_per(580, 1200);
    }

    @include mq-down(sm) {
      padding-bottom: calcvw(25);
      &__item {
        width: 100%;
        margin-top: calcvw(50);
      }
    }
  }

  /* news */
  &-news {
    padding: 10rem 0;
    background-color: $cl-blu;
    color: #fff;

    &__wrapper {
      justify-content: space-between;
    }

    &__title {
      width: get_per(220, 1040);

      .title-01 {
        text-align: left;
        @include trim_top-lh(1.66667);
      }
    }

    &__list {
      width: get_per(600, 1040);

      .newslist__item {
        a {
          color: #fff;
        }
      }
    }

    @include mq-down(md) {
      &__title {
        width: 100%;
        margin-bottom: calcvw(10);
      }

      &__list {
        width: 100%;
      }
    }
  }
}
