/* footer -----------------*/
.footer {
  &__info {
    padding: 6rem 0;
    text-align: center;
    background-color: $cl-blc;
    color: $cl-wht;

    .content_wrapper {
      position: relative;
    }

    p {
      @include get_line-height(16, 36);
    }

    &-pagetop {
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
    }

    @include mq-down(md) {
      position: relative;
      padding: calcvw(30) 0;

      .content_wrapper {
        padding-bottom: calcvw(60);
      }

      img {
        width: calcvw(120);
      }

      p {
        @include get_line-height(16, 32);
        @include fzrem(18);
        color: $cl-wht;

        span,
        a {
          color: $cl-wht;
        }
      }

      &-pagetop {
        width: calcvw(60);
        bottom: 0;
        right: 0;

        img {
          width: 100%;
        }
      }
    }

    @include mq-down(sm) {
      p {
        @include fzrem(14);
      }
    }
  }

  &__nav {
    padding: 6rem 0;
    background: $cl-blu repeat;

    a {
      color: #fff;
    }

    .copyright {
      color: #fff;
      text-align: center;
      @include fzrem(12);
    }

    @include mq-down(md) {
      padding: calcvw(30) 0;
    }
  }

  &__menu {
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;

    &-item {
      & + & {
        margin-left: 4rem;
      }
    }

    @include mq-down(md) {
      align-items: center;
      justify-content: center;

      &-item {
        width: 50%;
        text-align: center;

        & + & {
          margin-left: 0;
        }

        &:nth-of-type(n + 3) {
          margin-top: 1rem;
        }
      }
    }
  }
}
