/* header -----------------*/
.header {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.6s;

  &__seotext {
    display: none;
  }

  &__inner {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: calcrem(39) calcrem(10);
    transition: padding 0.6s;
  }

  &__logo {
    width: get_per(280, 1400);

    img {
      width: 100%;
      max-width: 280px;
      height: auto;
    }
  }

  &__gnav {
    width: auto;

    &-item {
      $gitem: & !global; // 己を変数へ格納

      & + & {
        margin-left: 5.7rem;
      }

      a {
        color: $cl-wht;
      }

      &._contact {
        .tel {
          @include fzrem(20);
          color: $cl-wht;

          .icon {
            position: relative;
            display: inline-block;
            width: 17px;
            height: 15px;
            margin-right: 0.9rem;
            vertical-align: 1px;

            img,
            svg,
            svg image {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .mail {
          background-color: $cl-blu;
          a {
            padding: 0.7rem;
            transition: border 0.4s, opacity 0.3s;
          }
        }
      }
    }

    @include mq-down(lg) {
      &-item {
        & + & {
          margin-left: 1.5rem;
        }
      }
    }

    @include mq-down(md) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 10vw;
      background: $cl-blu;
      z-index: 9000;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.9);
      transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;

      &-item {
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid $cl-wht;

        & + & {
          margin-left: 0;
        }

        a {
          color: $cl-wht;
        }

        &._contact {
          border-bottom: 0;

          .tel {
            margin-bottom: 1rem;
            @include fvw(20);
            text-align: center;
          }

          .mail {
            a {
              border-color: $cl-wht;
            }
          }
        }
      }
    }
  }

  &__sptrigger {
    display: none;
  }

  &._scrolled {
    background-color: rgba($cl-blu, 0.8);

    #{$this}__inner {
      padding: calcrem(20) calcrem(10);
    }

    #{$gitem}._contact {
      a {
        border-color: $cl-wht;
      }
    }
  }

  @include mq-down(md) {
    z-index: 30;

    &__inner {
      padding: 3rem;
    }

    &__logo {
      width: 250px;
    }

    // &__gnav {
    //   position: fixed;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   padding: 10vw;
    //   background: $cl-blu;
    //   z-index: 9000;
    //   visibility: hidden;
    //   opacity: 0;
    //   transform: scale(0.9);
    //   transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;

    //   &-list {
    //     &--item {
    //       width: 100%;
    //       padding-bottom: 1rem;
    //       border-bottom: 1px solid $cl-wht;

    //       & + & {
    //         margin-left: 0;
    //       }

    //       a {
    //         color: $cl-wht;
    //       }

    //       &._contact {
    //         border-bottom: 0;

    //         .tel {
    //           margin-bottom: 1rem;
    //           @include fvw(20);
    //           text-align: center;
    //         }

    //         .mail {
    //           a {
    //             border-color: $cl-wht;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    &__sptrigger {
      display: flex;
      align-items: center;

      &-telbtn {
        display: block;

        ._tablet {
          display: flex;
          align-items: center;
          @include fvw(12);
          color: $cl-wht;

          .icon {
            position: relative;
            display: inline-block;
            width: calcvw(12);
            height: calcvw(12);
            margin-right: 0.9rem;
            line-height: 1;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: auto;
            }
          }
        }

        ._sp {
          display: none;
        }
      }
    }
  }

  @include mq-down(sm) {
    &__inner {
      padding: 1.2rem;
    }

    &__logo {
      width: 100px;
    }

    &__sptrigger {
      &-telbtn {
        ._tablet {
          display: none;
        }

        ._sp {
          display: block;

          img {
            width: calcvw(24);
          }
        }
      }
    }
  }
}

.navToggle {
  display: none;
}

@include mq-down(md) {
  .navToggle {
    display: block;
    margin-left: calcrem(20);
    cursor: pointer;
    z-index: 9999;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: calcvw(30);
      height: calcvw(12);
      z-index: 9999;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: $cl-wht;
      transition: 0.35s ease-in-out;
      border-radius: 5px;
    }
  }

  .navopen {
    .navToggle {
      div {
        position: relative;
      }

      span {
        position: absolute;

        &:nth-child(1) {
          top: 11px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          top: 11px;
          transform: rotate(-135deg);
        }
      }
    }

    .header__gnav {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: transform 0.4s, opacity 0.4s;
    }
  }
}
