<%_ include("_common/_define") _%>
  <%- include("_common/_head" ,{pageDateIndex:0}) %>
    <%- include("_common/_header" ,{pageDateIndex:0}) %>

      <!-- ========= keyvisual ========= -->
      <section class="top-keyvisual">
        <div class="top-keyvisual__copy">
          <h2 class="top-keyvisual__copy-text">株式会社 会社名</h2>
        </div>

        <div id="js-topKeyvisualSlider" class="top-keyvisual__slider">
          <% for (var i=1; i < 4; i++) { %>
            <div class="top-keyvisual__slider-item">
              <img src="<%= path(); %>assets/images/top/keyvisual_img0<%- i %>.jpg" alt="スライダー画像<%- i %>">
            </div>
            <% } %>
        </div>
      </section>
      <!-- ========= / keyvisual END ========= -->


      <!-- ========= main ========= -->
      <main class="main">

        <section class="top-example">

          <div class="layout01">
            <div class="content_wrapper_min">
              <h2 class="title-01 cl-wht">ボックスレイアウト01</h2>
              <div class="box-01 flex wow animated slideInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="box-01__pict">
                  <img src="http://via.placeholder.com/520x300/efefef/aaa?text=Images" alt="ダミー画像">
                </div>
                <div class="box-01__text">
                  <h2 class="box-01__text-title">タイトル</h2>
                  <p class="box-01__text-letter">
                    ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  </p>
                </div>
              </div>
              <div class="box-01 flex wow animated slideInRight" data-wow-duration="1s" data-wow-delay="0.6s">
                <div class="box-01__pict">
                  <img src="http://via.placeholder.com/520x300/efefef/aaa?text=Images" alt="ダミー画像">
                </div>
                <div class="box-01__text">
                  <h2 class="box-01__text-title">タイトル</h2>
                  <p class="box-01__text-letter">
                    ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.layout01 -->

          <div class="layout02">
            <h2 class="title-01 cl-wht">ボックスレイアウト02</h2>
            <div class="box-02">
              <div class="content_wrapper_min">
                <div class="box-02__text wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <h2 class="box-02__text-title">タイトル</h2>
                  <p class="box-02__text-letter">
                    ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  </p>
                </div>
              </div>
            </div>

            <div class="box-02">
              <div class="content_wrapper_min">
                <div class="box-02__text wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                  <h2 class="box-02__text-title">タイトル</h2>
                  <p class="box-02__text-letter">
                    ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.layout02 -->

          <div class="content_wrapper_min">
            <h2 class="title-01">リスト</h2>
            <ul class="list-disc">
              <li>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</li>
              <li>いいいいいい</li>
              <li>うううううう</li>
            </ul>
            <ul class="list-decimal">
              <li>ああああああ</li>
              <li>いいいいいい</li>
              <li>うううううう</li>
            </ul>

            <div class="list-faq">
              <dl class="list-faq__item">
                <dt class="list-faq__item-question js-faqTrigger">質問が入ります質問が入ります質問が入ります質問が入ります</dt>
                <dd class="list-faq__item-answer">回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります</dd>
              </dl>
              <dl class="list-faq__item">
                <dt class="list-faq__item-question js-faqTrigger">質問が入ります質問が入ります質問が入ります質問が入ります</dt>
                <dd class="list-faq__item-answer">回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります</dd>
              </dl>
              <dl class="list-faq__item">
                <dt class="list-faq__item-question js-faqTrigger">質問が入ります質問が入ります質問が入ります質問が入ります</dt>
                <dd class="list-faq__item-answer">回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります回答が入ります</dd>
              </dl>
            </div>
          </div>
        </section>
        <!-- /.top-example -->

        <section class="top-about">
          <div class="content_wrapper_min">
            <h2 class="title-01">カード</h2>
            <p class="sub-title">施工実績とか</p>

            <div class="flex jc-bet">
              <div class="top-about__item card">
                <a href="#">
                  <div class="card__pict">
                    <img src="http://via.placeholder.com/434x250/efefef/aaa?text=Images" alt="ダミー画像">
                  </div>
                  <div class="card__text">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                  </div>
                </a>
              </div>

              <div class="top-about__item card">
                <a href="#">
                  <div class="card__pict">
                    <img src="http://via.placeholder.com/434x250/efefef/aaa?text=Images" alt="ダミー画像">
                  </div>
                  <div class="card__text">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- / END about -->

        <section class="top-news">
          <div class="top-news__wrapper content_wrapper_min flex">
            <div class="top-news__title">
              <h2 class="title-01">
                新着情報
              </h2>

              <div class="btn-01">
                <a href="<%= path(); %>news/">詳しく見る</a>
              </div>
            </div>

            <div class="top-news__list">
              <ul class="newslist">
                <% for (var i=1; i < 4; i++) { %>
                  <li class="newslist__item flex">
                    <p class="newslist__item-date">2021.00.00</p>
                    <p class="newslist__item-title"><a href="<%= path(); %>news/detail.html">お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。お知らせのタイトルが入ります。 お</a></p>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
        </section>
        <!-- / END news -->


        <%- include("_common/_common-contact" ,{pageDateIndex:0}) %>


      </main>
      <!-- ========= / main END ========= -->


      <%- include("_common/_foot" ,{pageDateIndex:0}) %>