.box {
  &-01 {
    position: relative;

    @include mq-down(sm) {
      flex-direction: column;
    }

    & + & {
      margin-top: 4rem;
    }

    &__pict {
      $box01pict: & !global; // 己を変数へ格納
      width: 50%;

      img {
        width: 100%;
      }

      @include media("1080px") {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;

        img {
          width: auto;
          max-width: 200%;
          height: 100%;
        }
      }

      @include mq-down(sm) {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &__text {
      $box01text: & !global; // 己を変数へ格納

      width: 50%;
      margin: 0 auto;
      padding: 4rem 6rem;
      background-color: #fff;

      &-title {
        margin-bottom: 2rem;
        @include fzrem(26);
        font-weight: bold;
        font-feature-settings: "palt";
      }

      &-letter {
        @include get_line-height(15, 32);
        @include get_letter_spacing(100);
        font-feature-settings: "palt";
      }

      @include mq-down(sm) {
        width: 100%;
        padding: 6vw;
      }

      @include mq-down(xs) {
        &-title {
          @include fvw(20);
        }
      }
    }

    &:nth-of-type(2n) {
      #{$box01pict} {
        order: 2;
      }

      #{$box01text} {
        order: 1;
      }

      @include mq-down(sm) {
        #{$box01pict} {
          order: 1;
        }

        #{$box01text} {
          order: 2;
        }
      }
    }
  }

  &-02 {
    position: relative;
    padding: 18rem 0 0 0;

    @include mq-down(md) {
      padding-top: 30rem;
    }

    @include mq-down(sm) {
      padding-top: 40vw;
    }

    & + & {
      margin-top: 4rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 90%;
      background: url("http://via.placeholder.com/1093x400/ffbbbb/fff?text=Images")
        no-repeat top center / cover;

      @include mq-down(md) {
        width: 100%;
        height: 70%;
      }

      @include mq-down(sm) {
        height: 55%;
      }
    }

    &__text {
      $box02text: & !global; // 己を変数へ格納

      position: relative;
      z-index: 1;
      max-width: 65%;
      margin: 0 0 0 auto;
      padding: 8rem 6rem;
      background-color: #fff;

      @include mq-down(md) {
        max-width: 100%;
        margin: auto;
      }

      @include mq-down(sm) {
        padding: 8vw;
      }

      &-title {
        margin-bottom: 2rem;
        @include fzrem(26);
        font-weight: bold;
        font-feature-settings: "palt";

        @include mq-down(xs){
          @include fvw(20);
        }
      }

      &-letter {
        @include get_line-height(15, 32);
        @include get_letter_spacing(100);
        font-feature-settings: "palt";
      }
    }

    &:nth-of-type(2n) {
      &::before {
        right: 0;
        left: auto;
      }

      #{$box02text} {
        margin: 0 auto 0 0;

        @include mq-down(md) {
          margin: auto;
        }
      }
    }
  }
}
