.card {
  a {
    display: block;
    padding: 2rem;
    border: 1px solid $cl-blc;
    border-radius: 10px;
  }

  &__pict {
    position: relative;
    display: block;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }

  &__text {
    p {
      color: $cl-blc;
    }
  }
}