.commoncontact {
  position: relative;
  padding: 10rem 0;
  background: printUrl("common/contact_bg.jpg") no-repeat center center / cover;
  color: $cl-wht;

  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    width: 1px;
    height: 120px;
    background-color: $cl-blu;
    transform: translateX(-50%);
  }

  &__text {
    margin-bottom: 5rem;
    text-align: center;

    @include mq-down(md) {
      margin-bottom: 2rem;
    }
  }

  &__tel {
    width: 50%;
    padding-right: 2.5rem;
    text-align: right;

    &-number {
      @include fzrem(48);

      img {
        margin-right: 1rem;
        width: 33px;
        vertical-align: 3px;
      }
    }

    &-time {
      @include fzrem(14);
    }

    @include mq-down(md) {
      width: 100%;
      margin-bottom: calcvw(15);
      padding-right: 0;
      text-align: center;

      &-number {
        span,
        a {
          color: $cl-wht;
        }
      }
    }

    @include mq-down(xs) {
      &-number {
        span,
        a {
          @include fvw(40);
          // color: $cl-wht;
        }

        img {
          margin-right: calcvw(8);
          width: calcvw(24);
          vertical-align: 1vw;
        }
      }
    }
  }

  &__mail {
    width: 50%;
    padding-left: 2.5rem;

    .btn-02 {
      a {
        width: 400px;
        @include fzrem(21);
      }

      img {
        margin-right: 1rem;
        width: 33px;
        vertical-align: -3px;
      }
    }

    @include mq-down(md) {
      width: 100%;
      padding-left: 0;

      .btn-02 {
        a {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    @include mq-down(sm) {
      .btn-02 {
        a {
          width: 100%;
        }
      }
    }

    @include mq-down(xs) {
      .btn-02 {
        a {
          width: 100%;
          @include fvw(15);
        }

        img {
          margin-right: calcvw(8);
          width: calcvw(24);
          vertical-align: -1vw;
        }
      }
    }
  }
}
