.flowlist {
  counter-reset: number 0;

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 2.4rem;
      counter-increment: number 1;
      content: counter(number, decimal-leading-zero);
      @include fzrem(60);
      color: $cl-blu;
      transform: translateY(-50%);
    }

    .text {
      width: get_per(710, 1040);
      padding: 7rem 8rem;
      background-color: #f1f1f1;

      .title {
        margin-bottom: 1.4rem;
        @include fzrem(30);
      }
    }

    .pict {
      overflow: hidden;
      display: block;
      width: get_per(330, 1040);
      background: url("http://placehold.jp/330x271.png") no-repeat center center / cover;
    }


    @include mq-down(sm){
      &::before {
        left: 0;
        padding: calcvw(6);
        @include fvw(24);
        transform: translateY(0);
        line-height: 1;
        color: $cl-wht;
        background-color: $cl-blu;
      }

      .text {
        order: 2;
        width: 100%;
        padding: 8vw;

        .title {
          @include fvw(18);
        }
      }

      .pict {
        order: 1;
        width: 100%;
        height: 56vw;
      }

    }
  }
}
