.list {
  // 汎用リスト
	&-disc { // 中黒
		margin-bottom: 3rem;
		padding-left: 1.9rem;

		li {
			list-style-type: disc;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

		}
	}

	&-decimal { //連番
		margin-bottom: 3rem;
		padding-left: 1.9rem;

		li {
			list-style-type: decimal;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

		}
	}

  // よくある質問
  &-faq {
		margin-bottom: 3rem;

    &__item {
			position: relative;

			& + & {
				margin-top: 2rem;
			}

			&::before, &::after {
				content: '';
				position: absolute;
				top: 18px;
				right: 1rem;
				width: 20px;
				height: 2px;
				background-color: #000;
			}

			&::after {
				transform: rotate(90deg);
				transition: transform .3s;
			}

			&._active {
				&::after {
					transform: rotate(0);
				}
			}

      &-question {
        @include fzrem(20);
        font-weight: bold;
        padding-left: 3.7rem;
				padding-right: 3.6rem;
        text-indent: -3.7rem;
				cursor: pointer;

        &::before {
          content: "Q.";
          margin-right: 1rem;
          font-size: 120%;
        }

				@include mq-down(xs) {
					@include fvw(15);
					padding-left: 9.1vw;
					text-indent: -8.7vw;
				}
      }

      &-answer {
        display: none;
        padding: 3rem 2rem 3rem 5.3rem;
        text-indent: -3rem;
        background: #fefefe;

        &::before {
          content: "A.";
          margin-right: 1rem;
          font-size: 120%;
        }
      }
    }
  }
}
