.table__01 {
  width: 100%;

  tr:not(:last-child) {
    th,
    td {
      padding-bottom: 2rem;
    }
  }

  th {
    width: get_per(160, 1046);
    @include fzrem(15);
  }

  td {
    width: get_per(886, 1046);
    @include get_line-height(15, 50);
    @include fzrem(15);
  }

  @include mq-down(sm) {
    tr:not(:last-child) {
      th {
        padding-bottom: calcvw(4);
      }

      td {
        padding-bottom: calcvw(20);
      }
    }

    th {
      display: block;
      width: 100%;
      padding-bottom: calcvw(4);
      font-weight: bold;
      border-bottom: 1px solid $cl-blc;
      @include fvw(14);
    }

    td {
      display: block;
      width: 100%;
      padding-top: calcvw(4);
      @include get_line-height(15, 30);
      @include fvw(14);
    }
  }
}

.table__02 {
  width: 100%;

  thead {
    th {
      padding: 3rem 0.5rem;
      background-color: #48595b;
      color: $cl-wht;
      text-align: center;
      @include fzrem(18);

      &:not(:last-child) {
        border-right: 1px solid $cl-wht;
      }
    }
  }

  tbody {
    tr {
      & + tr {
        td {
          border-top: 1px solid #f1f1f1;
        }
      }
    }

    th {
      padding: 3rem 0.5rem;
      background-color: $cl-blu;
      color: $cl-wht;
      @include fzrem(18);
      text-align: center;
      vertical-align: middle;

      &:not(:last-child) {
        border-bottom: 1px solid $cl-wht;
      }
    }

    td {
      width: get_per(300, 1040);
      padding: 3rem;
      @include fzrem(14);
      @include get_line-height(14, 24);
      background-color: $cl-wht;
      vertical-align: middle;

      & + td {
        border-left: 1px solid #f1f1f1;
      }
    }
  }

  @include mq-down(sm) {
    thead {
      display: none;
    }

    tbody {
      th {
        display: block;
        width: 100%;
        padding: calcvw(10);
        @include fvw(16);
      }

      td {
        display: block;
        width: 100%;
        padding: calcvw(16);
        @include fvw(10);
        text-align: center;

        & + td {
          border-top: 1px solid #f1f1f1;
        }
      }
    }
  }
}

.table__form {
  width: 100%;
  padding: 6rem;
  background-color: #f1f1f1;

  table {
    width: 100%;

    input[type="tel"],
    input[type="email"],
    input[type="text"] {
      width: 100%;
      padding: 2.2rem;
      border: 0;
      outline: none;
    }

    input[type="tel"] {
      width: 180px;
    }

    textarea {
      width: 100%;
      height: 230px;
      padding: 2.2rem;
      border: 0;
      outline: none;
    }

    th {
      width: get_per(200, 1080);
      padding: 1rem 0;
      @include fzrem(15);
      vertical-align: middle;
    }

    td {
      padding: 1rem 0;
      width: get_per(880, 1080);
      @include fzrem(15);
    }

    .address {
      .zip {
        margin-bottom: 2rem;

        input[type="text"] {
          width: 180px;
        }
      }
    }
  }

  .privacy {
    background-color: #fff;

    &__box {
      p {
        margin: 0 0 20px 0 !important;
        font-size: 13px;
      }
    }

    &__inner {
      width: auto;
      height: 200px;
      overflow-y: scroll;
      padding: 22px;
    }

    &__title {
      padding: 0 0 4px 0;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: bold;
    }

    &__list {
      margin: 0 0 20px 0;

      li {
        list-style: decimal;
        margin: 0 0 0 18px !important;
        font-size: 14px;
      }
    }

    span.bold {
      font-weight: bold;
    }

    &__inner {
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
        background: rgba(190, 190, 190, 0.4);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #fff;
        background: rgba(190, 190, 190, 0.7);

        &:window-inactive {
          background: #fff;
          background: rgba(190, 190, 190, 0.7);
        }
      }
    }

    &__check {
      margin-top: 4rem;

      input[type="checkbox"] {
        display: none;

        + label {
          position: relative;
          padding-left: 35px;
          margin-bottom: 20px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;

          &:last-child {
            margin-bottom: 0;
          }

          &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid transparent;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: -4px;
            transition: all 0.12s, border-color 0.08s;
          }

          &:after {
            content: "";
            display: block;
            width: 21px;
            height: 18px;
            border: 2px solid $cl-blu;
            border-top-color: transparent;
            border-left-color: transparent;
            position: absolute;
            left: 8px;
            top: -8px;
            opacity: 0;
            transition: all 0.3s;
          }
        }

        &:checked + label:after {
          width: 10px;
          opacity: 1;
          transform: rotate(45deg);
        }
      }
    }
  }

  @include mq-down(sm) {
    padding: 3vw;

    table {
      input[type="tel"] {
        width: 28%;
        margin-bottom: 0.5rem;
      }


      th {
        display: block;
        width: 100%;
        padding-bottom: calcvw(4);
        font-weight: bold;
        @include fvw(14);
      }

      td {
        display: block;
        width: 100%;
        padding-top: calcvw(4);
        @include get_line-height(15, 30);
        @include fvw(14);
      }

      .address {
        .zip {
          input[type="text"] {
            width: 28%;
          }
        }
      }
    }
  }
}

.recaptcha {
  a {
    margin-left: 1.5rem;
    color: $cl-blc;
    text-decoration: underline;
  }
}
