.title {
  &-01 {
    position: relative;
    margin-bottom: 4rem;
    @include fzrem(36);
    font-weight: 600;
    @include get_line-height(36, 60);
    text-align: center;
    text-indent: 0.1em;

    & + .sub-title {
      margin-bottom: 4rem;
      text-align: center;
    }

    @include mq-down(xs) {
      @include fvw(20);
    }
  }
}
