/* youtube_iframe */
.youtube_iframe{
  width: 100%; height: 0; position: relative; padding-bottom: 56.25%;
  iframe{
      position: absolute; width: 100%; height: 100%; left: 0; right: 0; top: 0; bottom: 0;
  }
}